.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.flag {
  width: 30px;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-name {
  width: 45px;
  margin-right: 10px;
}
