<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'navigation' : 'dialog'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" opened="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <div class="menu">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img src="assets/images/logo.png" class="menu-name">
        <span>Pharma Inc</span>
      </div>
      <div>
        <img src="assets/images/bra.png" (click)="selectLanguage('pt-BR')" alt="brazil flag" class="flag">
        <img src="assets/images/usa.png" (click)="selectLanguage('en-US')" alt="united states flag" class="flag">
        <mat-icon (click)="switchTheme()" class="pointer">{{icon}}</mat-icon>
      </div>
    </mat-toolbar>

    <div class="container">
      <!--content-->
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
